@font-face {
    font-family: myTitle;
    src: url('DancingScript-VariableFont_wght.ttf');
  }

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    margin: .5em 2em 0em 4em;   
    position: fixed;
    top: 0;
    width: 90%;
    text-align: center;
}

.header button {
    margin: 1em;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: blue; 
    text-align: center;
    height: 100vh;
    background-image: url('stockvault-frozen-ice-background268918.jpg');
    background-size: cover;
    font-family: myTitle;
}

button {
    font-size: 1em;
}